<script>
  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      selectable: true,

      editable: true,
      eventLimit: true, // allow "more" link when too many events
      header:
      {
        left: 'month,agendaWeek,agendaDay',
        center: 'title'
      },

      select: function(start, end) {
        title = prompt("What is the title of this event?")
        dateStart = "Start: " + start.format()
        dateEnd = "End: " + end.format()
        myStr = "Title: " + title + " " + dateStart + " " + dateEnd + " HOW DO I SAVE THIS THINGS IN THE DATABASE!!!"
        alert(myStr)
      },

      events: [
        {
          title: 'All Day Event',
          start: '2014-11-01'
        },
        {
          title: 'Long Event',
          start: '2014-11-07',
          end: '2014-11-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2014-11-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2014-11-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2014-11-11',
          end: '2014-11-13'
        },
        {
          title: 'Meeting',
          start: '2014-11-12T10:30:00',
          end: '2014-11-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2014-11-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2014-11-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2014-11-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2014-11-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2014-11-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2014-11-28'
        }
      ]

    });

  });
</script>

<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </section>
      </aside>
      <div class="col-md-8">
        <%= render 'shared/calendar' %>
      </div>
    </div>
<% else %>

  <div class="center jumbotron">
    <h1>Get connected with ConnectYou!</h1>

    <h2>
      The best way to ConnectYour schedule with your family and friends!
    </h2>
    <p>
    <%= link_to image_tag("calendar-icon.png", alt: "Connect You"),
                'https://connectyouapp.herokuapp.com/' %>
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


<% end %>