<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> <%=@user.name%>'s Profile </title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/profile_bootstrap.css" rel="stylesheet" />
     <!-- FONT AWESOME ICONS STYLE SHEET -->
    <link href="assets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
    <link href="assets/profile_style.css" rel="stylesheet" />
    <link href="assets/simple_calendar.scss" rel="stylesheet" />
</head>
<body >
    <div class="navbar navbar-default"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ConnectYou</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div class="container">
        <div class="row">
            </div>
         <!-- USER PROFILE ROW STARTS-->
            <div class="row">
                <div class="col-md-3 col-sm-3">
                                       
                    <div class="user-wrapper">
                        <%=gravatar_for @user%>
                    <div class="description">
                       <h4><%= @user.name %> 
                       <p><%= @user.email %></p>
                       </h4>
                       <h5> <strong>Software Engineer</strong></h5>
                       <p>
                         Hey what's up!? Message me to hangout or something :P
                       </p>
                       <hr />
                       <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus" ></i> &nbsp;Follow me!</a> 
                    </div>
                    </div>
                </div>
               
                <div class="col-md-9 col-sm-9  user-wrapper">
                    <div class="description">
                    <h3> Schedule </h3>
                    <hr>
                    <h3> Calendar </h3>
                      <% if @events = @user.feed %>
                        <%= month_calendar events: @events do |date, events| %>
                          <%= date.day %>

                          <% events.each do |event| %>
                            <div>
                              <%= event.name %>
                            </div>
                          <% end %>
                        <% end %>
                      <% else %>
                      <%= month_calendar do |date| %>
                          <%= date.day %>
                        <% end %>
                      <% end %>
                    
                    <hr />
                          
                    </hr>
                    <h3> My Information: </h3>
                      <p> I'm pretty much free all the time because I dropped out of school! :) Don't do this, kids.</p>
                    <hr />    
                    <h3> Social Links: </h3>            
                   <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook </a>

                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                    </div>
                 
                </div>
            </div>
           <!-- USER PROFILE ROW END-->
    </div>
    <!-- CONATINER END -->
    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/profile_bootstrap.js"></script>
</body>

</html>
