<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Events</title> 
    <link rel="stylesheet" href="assets/resetStyle.css">
    <link rel="stylesheet" href="assets/eventStyle.css">
  </head>

  <body>

<h1>Events</h1>  
<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
        <tr>
          <th>User ID</th>
          <th>User</th>
          <th>Name</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>Event Time</th>
        </tr>
      </thead>
</table>
</div>
<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.user_id %></td>
        <td><%= event.name %></td>
        <td><%= event.start_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'New Event', new_event_path %>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="assets/eventIndex.js"></script>
  </body>
</html>
